@font-face {
    font-family: 'CaveStoryRegular';
    src: url('./Fonts/Cave-Story.ttf');
}

@font-face {
    font-family: 'CourierPrimeSansRegular';
    src: url('./Fonts/CourierSans/Courier\ Prime\ Sans.ttf');
    src: url('./Fonts/CourierSans/Courier\ Prime\ Sans\ Bold.ttf');
    src: url('./Fonts/CourierSans/Courier\ Prime\ Sans\ Bold\ Italic.ttf');
    src: url('./Fonts/CourierSans/Courier\ Prime\ Sans\ Italic.ttf');
}

/* soft UA reset */
html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* UA reset ends  */

/* my style begins here */
body {
    font-family: 'CaveStoryRegular', system-ui, -apple-system, Ubuntu, 'Open Sans', sans-serif;
    font-size: 16px;
}

.container {
    /* background-color: black; */
    background: linear-gradient(#FFFDFD, #FDC3C5);
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    /* justify-content: space-around; */
    overflow-y: scroll;
}

.container>div {
    width: 95%;
}

.banner-box1 {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.25rem;
    margin-bottom: 20px;
}

.banner-box2 {
    font-size: 2.5rem;
    letter-spacing: 0.17rem;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-box2 button {
    background-image: url('./Icons/plus-icon.png');
    background-color: transparent;
    width: 48px;
    height: 48px;
    padding: 0;
    border: 0;
}

.banner-box2 button:active {
    transform: translateY(2px);
}

.banner-box2 button:hover {
    cursor: pointer;
}

.container>.card-box {
    flex-basis: 75%;
    width: 80%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-auto-rows: 260px;
    gap: 20px;
}

.card {
    height: 260px;
    border: 1px solid green;
    border-radius: 5px;
    padding: 12px;

    font-family: 'CourierPrimeSansRegular', system-ui, -apple-system, Ubuntu, sans-serif;
    position: relative;
}

.content-div {
    margin-bottom: 10px;
}

.content-div .one {
    font-weight: bold;
    font-size: 1.3rem;
}

.content-div .two {
    font-size: 1.25rem;
}

.content-div.read span:nth-child(2) {
    margin-right: 8px;
}

.card #delete-icon {
    width: 45px;
    height: 45px;
    padding: 0;
    border: 0;

    position: absolute;
    top: 79%;
    left: 84%;

    background-image: url('./Icons/delete-icon.png');
    background-size: contain;
    background-color: transparent;
}

.card>#delete-icon:hover {
    cursor: pointer;
}

.card>#delete-icon:active {
    transform: translateY(2.5px);
}

/* my style ends here */