@font-face {
    font-family: 'CaveStoryRegular';
    src: url('./Fonts/Cave-Story.ttf');
}

@font-face {
    font-family: 'CourierPrimeSansRegular';
    src: url('./Fonts/CourierSans/Courier\ Prime\ Sans.ttf');
    src: url('./Fonts/CourierSans/Courier\ Prime\ Sans\ Bold.ttf');
    src: url('./Fonts/CourierSans/Courier\ Prime\ Sans\ Bold\ Italic.ttf');
    src: url('./Fonts/CourierSans/Courier\ Prime\ Sans\ Italic.ttf');
}

/* soft UA reset */
html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* UA reset ends  */

/* my style begins here */
body {
    font-family: 'CaveStoryRegular', system-ui, -apple-system, Ubuntu, 'Open Sans', sans-serif;
    font-size: 16px;
}

.container {
    position: relative;

    /* background-color: black; */
    background: linear-gradient(#FFFDFD, #FDC3C5);
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    /* justify-content: space-around; */
    overflow-y: scroll;
}

.container .banner-box1,
.banner-box2,
.card-box {
    width: 95%;
}

.banner-box1 {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.25rem;
    margin-bottom: 20px;
}

.banner-box2 {
    font-size: 2.5rem;
    letter-spacing: 0.17rem;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-box2 button {
    background-image: url('./Icons/plus-icon.png');
    background-color: transparent;
    width: 48px;
    height: 48px;
    padding: 0;
    border: 0;
}

.banner-box2 button:active {
    transform: translateY(2px);
}

.banner-box2 button:hover {
    cursor: pointer;
}

.form-container {
    display: none;
    position: absolute;
    font-family: system-ui, -apple-system, Roboto, Ubuntu, sans-serif;
    height: 380px;
    width: 300px;
    background-color: #DFE1E2;
    border: 1px solid #758695;
    padding: 30px 10px 10px;

    top: 60px;
    z-index: 1;
}

.book-form {
    border-radius: 3px;
    position: relative;

    font-size: 0.85rem;
}

.close-button {
    position: absolute;
    top: -25px;
    left: 257px;

    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 16px;

    border-radius: 3px;
    border: 0;
    padding: 3px 6px;
}

.close-button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.close-button:active {
    transform: translateY(1.8px);
}

.form-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.form-row input[type='text'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 65%;
    padding: 5px;
    font-size: 14px;
}

.form-row label {
    padding-right: 18px;
    width: 25%;
    text-align: right;
}

.form-row-radio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 35px;
}

.form-row-radio span {
    padding-right: 15px;
}

.form-row-radio input[id='yes'] {
    margin-right: 20px;
    accent-color: green;
}

.form-row-radio input[id='no'] {
    accent-color: red;
}

.form-row button[type='button'] {
    font-size: 18px;
    font-weight: bold;
    margin: auto;

    color: #FFFFFF;
    background-color: #5995DA;

    border: none;
    border-radius: 3px;

    padding: 10px 30px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #76AEED;
    transform: scale(1.12);
}

.form-row button:active {
    background-color: #407FC7;
    transform: translateY(2.2px);
}

.container>.card-box {
    flex-basis: 75%;
    width: 80%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-auto-rows: 260px;
    gap: 20px;
}

.card {
    height: 260px;
    border: 1px solid green;
    border-radius: 5px;
    padding: 12px;

    font-family: 'CourierPrimeSansRegular', system-ui, -apple-system, Ubuntu, sans-serif;
    position: relative;
}

.content-div {
    margin-bottom: 10px;
}

.content-div .one {
    font-weight: bold;
    font-size: 1.3rem;
}

.content-div .two {
    font-size: 1.25rem;
}

.content-div.read span:nth-child(2) {
    margin-right: 8px;
}

.card #delete-icon {
    width: 45px;
    height: 45px;
    padding: 0;
    border: 0;

    position: absolute;
    top: 79%;
    left: 84%;

    background-image: url('./Icons/delete-icon.png');
    background-size: contain;
    background-color: transparent;
}

.card>#delete-icon:hover {
    cursor: pointer;
}

.card>#delete-icon:active {
    transform: translateY(2.5px);
}

/* my style ends here */